
# dependencies
/node_modules
/frontenedpage/node_modules
/frontenedpage/.pnp
/frontenedpage/.pnp.js

# testing
/frontenedpage/coverage

# production
/frontenedpage/build

# misc
/backend/config/config.env
/frontenedpage/.DS_Store
/frontenedpage/.env.local
/frontenedpage/.env.development.local
/frontenedpage/.env.test.local
/frontenedpage/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
